body {
  background: linear-gradient(135deg, #a915ee, #6c13b4, #ff64f0);
  background-size: 400% 400%;
  animation: gradientMove 8s ease infinite;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  margin-bottom: 30px;
  font-weight: bold;
  color: white;
}
